@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');


:root {
    --mainColor: #FBF5E7;
    --secColor: #BB4B36;
    /* --terColor: #1b4c95; */
    --terColor: #2a6112;
    --quatColor: #2a6112;
    --borderColor: #00317a;
    --headings_font: 'Work Sans', sans-serif;
    --body_font: 'Work Sans', sans-serif;
    --speacial_font: "Arizonia", cursive;
    --main_spacer: clamp(40px, 10vh, 100px);
    --small_spacer: clamp(30px, 6vh, 50px);

    --large_headingFS: 2.2rem;
    --main_headingFS: 2rem;
    --sec_headingFS: 1.75rem;
    --ter_headingFS: 1.5rem;
    --quat_headingFS: 1rem;
    --quin_headingFS: .75rem;
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


*::selection {
    color: #fff;
    background-color: #000;
} 

html {
    font-size: 16px;
}

body {
    padding: 0;
    color: var(--mainColor);
    background-color: var(--terColor);
    font-family: var(--body_font);
    will-change: color, font-family, margin, padding, background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings_font);
}

/* Target the specific number input and hide the spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox, you may need this additional CSS rule */
input[type="number"] {
    -moz-appearance: textfield;
}

.body_font {
    font-family: var(--body_font) !important;
}

.headings_font {
    font-family: var(--headings_font) !important;
}

.main_spacer {
    padding-block: var(--main_spacer);
}

.main_spacer_top {
    padding-top: var(--main_spacer);
}

.main_spacer_bottom {
    padding-bottom: var(--main_spacer);
}

.small_spacer {
    padding-block: var(--small_spacer);
}

.small_spacer_top {
    padding-top: var(--small_spacer);
}

.small_spacer_bottom {
    padding-bottom: var(--small_spacer);
}

.mainColor {
    color: var(--mainColor);
}

.main_bg {
    background-color: var(--mainColor);
}

.secColor {
    color: var(--secColor);
}

.sec_bg {
    background-color: var(--secColor);
}

.terColor {
    color: var(--terColor);
}

.ter_bg {
    background-color: var(--terColor);
}

.quatColor {
    color: var(--quatColor);
}

.quat_bg {
    background-color: var(--quatColor);
}

.quin_color {
    color: var(--quin_color);
}

.quin_bg {
    background-color: var(--quin_color);
}

/* ---------------------------------- Global END ---------------------------------------------- */

/* ---------------------------------- UTILS ---------------------------------------------- */

body #root h1.large_heading {
    line-height: 1;
    font-size: var(--large_headingFS);
}

body #root h1 {
    font-size: var(--main_headingFS);
    font-weight: 700;
}

body #root h2 {
    font-size: var(--sec_headingFS);
}

body #root h3 {
    font-size: var(--ter_headingFS);
}

body #root h4 {
    font-size: var(--quat_headingFS);
}

body #root h5 {
    font-size: var(--quin_headingFS);
}


b,
.fancyLetter {
    will-change: font-family;
    font-weight: 400;
    font-family: var(--speacial_font) !important;
}

.animate-spin {
    animation-duration: 2.5s;
}

.mainShadow {
    box-shadow: 11px 9px 5px -2px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 11px 9px 5px -2px rgba(0, 0, 0, 0.28);
}

body {
    background-image: url("/public/images/bg-texture.png");
    background-image: url("/public/images/bg-texture-2.png");
}

/* ---------------------------------- UTILS END ---------------------------------------------- */

/* Heart clip-path: polygon(50% 100%, 0 40%, 25% 0, 50% 24%, 75% 0, 99% 40%); */
/* CLUB clip-path: polygon(50% 0, 0 50%, 18% 81%, 42% 65%, 27% 100%, 73% 100%, 55% 66%, 79% 77%, 100% 50%); */
/* CLub clip-path: polygon(50% 0, 0 50%, 20% 75%, 42% 65%, 30% 100%, 70% 100%, 55% 65%, 80% 75%, 100% 50%); */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--quatColor);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2a611294;
}